.main {
    background: rgb(234,255,17);
    background: linear-gradient(90deg, rgba(234,255,17,1) 0%, rgba(206,252,27,1) 12%, rgba(102,188,25,1) 16%, rgba(25,185,40,1) 50%, rgba(102,188,25,1) 76%, rgba(234,255,17,1) 82%);
    height: 10vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo {
    cursor: default;
    position: absolute;
    top: 1.1vh;
    left: 1vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vh;
    font-weight: bold;
    color: rgb(0, 124, 0);
}

.img_button {
    cursor: pointer;
    position: absolute;
    border: 0.4vh solid rgb(0, 124, 0);
    border-radius: 1vh;
    padding: 0.8vh;
    height: 5.5vh;
    width: 2.75vw;
    top: 1.2vh;
}

.img_button:hover {
    border: 0.4vh solid greenyellow;
}

.log_out {
    background-color: rgb(223, 207, 238);
    right: 2.5vw;
}

.settings {
    background-color: rgb(255, 228, 118);
    right: 8vw;
}

.admin {
    background-color: rgb(211, 229, 235);
    right: 13.5vw;
}