.admin_space {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 73px 1fr;
}

.log_out_panel {
    position: relative;
}

.log_out_panel_header {
    cursor: default;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.log_out_panel_buttons {
    float: right;
}

.log_out_panel_exec_button {
    cursor: pointer;
    margin-right: 40px;
    background-color: blue;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 55px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.log_out_panel_exec_button:hover {
    background-color: rgb(0, 0, 196);
}

.log_out_panel_cancel_button {
    cursor: pointer;
    background-color: rgb(255, 255, 186);
    border: none;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.log_out_panel_cancel_button:hover {
    background-color: rgb(224, 224, 162);
}

.navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(120, 120, 255);
    width: 73px;
    overflow-y: auto;
    z-index: 1;
    transition: 0.5s;
}

.navigation_opened {
    width: 230px;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.top_nav_panel {
    position: relative;
    width: 100%;
    height: 90px;
}

.menu_img {
    cursor: pointer;
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    border-radius: 50px;
    content: url(./img/menu.png);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.5s;
}

.menu_img_rotated {
    transform: translateY(-50%) rotate(180deg);
}

.app_name {
    cursor: default;
    position: absolute;
    left: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgb(0, 26, 141);
    border-radius: 10px;
    padding-inline: 5px;
    padding-block: 5px;
    font-size: 33px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;

}

.app_name_visible {
    opacity: 1;
}

.page_collection {
    position: relative;
    width: 100%;
}

.theme_separate_line_cont {
    position: relative;
    width: 100%;
}

.theme_separate_line_cont:first-child {
    padding-bottom: 14px;
}

.theme_separate_line_cont:not(:first-child) {
    padding-block: 14px;
}

.theme_separate_line {
    position: absolute;
    left: 8px;
    right: 8px;
    height: 1px;
    background-color: white;
}

.sep_theme_text {
    position: absolute;
    display: none;
}

.pages {
    width: 100%;
}

.page {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 70px;
}

.page:not(.current_page):hover {
    background-color: rgb(0, 51, 255);
}

.current_page {
    background-color: rgb(162, 32, 255);
}

.page_img {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sys_info_img {
    content: url(./img/system-info.png);
}

.objects_img {
    content: url(./img/objects.png);
}

.devices_img {
    content: url(./img/devices.png);
}

.rooms_img {
    content: url(./img/rooms.png);
}

.schedules_img {
    content: url(./img/schedules.png);
}

.scripts_img {
    content: url(./img/scripts.png);
}

.triggers_img {
    content: url(./img/triggers.png);
}

.extensions_img {
    content: url(./img/extensions.png);
}

.users_img {
    content: url(./img/users.png);
}

.page_name {
    position: absolute;
    left: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
}

.page_name_visible {
    opacity: 1;
}

.top_menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(70, 78, 120, 0.16);
    height: 90px;
}

.content {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    width: 7px;
}

.content::-webkit-scrollbar-track {
    background-color: aquamarine;
}

.content::-webkit-scrollbar-thumb {
    background-color: #0036a3;
    border-radius: 10px;
}

.page_header {
    cursor: default;
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    margin-left: 20px;
    color: #0036a3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    width: fit-content;
}

.logo {
    cursor: default;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    color: rgb(34, 34, 255);
}

.go_to_home_page_button {
    cursor: pointer;
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    content: url(./img/home-page.png);
    background-color: rgb(206, 238, 194);
    border: 4px solid blue;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.go_to_home_page_button:hover {
    background-color: aquamarine;
}

.log_out_button {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    content: url(./img/log-out.png);
    background-color: rgb(223, 207, 238);
    border: 4px solid blue;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.log_out_button:hover {
    background-color: aquamarine;
}