.main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.emailPng, .passwordPng {
    height: 5vh;
    width: 3vw;
    margin-right: 8px;
}

.email {
    width: 40vw;
    border: 3px solid green;
    outline: none;
    font-size: 5vh;
    background-color: whitesmoke;
    border-radius: 7px;
    background: url(./email.png) no-repeat scroll 7px 7px;
    background-size: 2.7vw 4.2vh;
    padding-left: 7.5vh;
}

.password {
    width: 40vw;
    border: 3px solid green;
    outline: none;
    font-size: 5vh;
    background-color: whitesmoke;
    border-radius: 7px;
    background: url(./password.png) no-repeat scroll 7px 7px;
    background-size: 2.7vw 4.2vh;
    padding-left: 7.5vh;
}

.email::placeholder, .password::placeholder {
    opacity: 0.6;
}