.user {
    width: 40vw;
    border: 3px solid green;
    outline: none;
    font-size: 5vh;
    background-color: whitesmoke;
    border-radius: 7px;
    background: url(./img/user.png) no-repeat scroll 0.5vw 0.8vh;
    background-size: 2.7vw 4.2vh;
    padding-left: 3.7vw;
}

.password {
    width: 40vw;
    border: 3px solid green;
    outline: none;
    font-size: 5vh;
    background-color: whitesmoke;
    border-radius: 7px;
    background: url(./img/password.png) no-repeat scroll 0.5vw 0.8vh;
    background-size: 2.7vw 4.2vh;
    padding-left: 3.7vw;
}

.exec {
    width: 10vw;
    height: 8vh;
    border: none;
    border-radius: 50px;
    background-color: green;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 4vh;
    padding-bottom: 1vh;
    cursor: pointer;
}

.user::placeholder, .password::placeholder {
    opacity: 0.7;
}