.main {
    position: relative;
    display: inline-block;
    width: 3.1vw;
    height: 1.75vw;
}

.header {
    font-family: 'Robotic', sans-serif;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.355vw;
    width: 1.355vw;
    left: 0.212vw;
    bottom: 0.212vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.checkbox:checked + .slider {
    background-color: #2196F3;
}

.checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.checkbox:checked + .slider:before {
    -webkit-transform: translateX(1.22vw);
    -ms-transform: translateX(1.22vw);
    transform: translateX(1.22vw);
}