.main {
    color: rgb(0, 0, 213);
}

.properties {
    color: rgb(95, 26, 158);
}

.children {
    color: rgb(177, 84, 115);
}

ul {
    list-style: none;
    padding-left: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family:'Roboto', sans-serif;;
    font-size: 3.5vh;
    font-weight: bold;
    width: fit-content;
}

li {
    cursor: pointer;
    width: fit-content;
    padding: 0.5vh;
}

.adder {
    color: rgb(234, 132, 0);
    text-decoration: underline solid rgb(255, 64, 0); 
}

.el {
    color: rgb(10, 117, 67);
}

.count {
    color: rgb(147, 147, 147);
}

.header:hover {
    background-color: burlywood;
    border-radius: 1vh;
}

.el:hover {
    background-color: coral;
    border-radius: 1vh;
}

.adder:hover {
    background-color: cyan;
    border-radius: 1vh;
}