.property_record {
    border: 1px solid rgb(38, 38, 38);
    width: calc(100% + 4px);
    background-color: white;
    color: rgb(0, 0, 0);
    padding-block: 10px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    word-break: break-all;
}

.property_record_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_in,
.value_in,
.history_limit_in,
.can_have_history_in,
.MQTT_display_in,
.MQTT_sub_in {
    cursor: pointer;
    width: 100%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 10vw;
}

.name,
.value,
.history_limit,
.can_have_history,
.MQTT_display,
.MQTT_sub {
    cursor: default;
    width: 100%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.property_record_buttons {
    position: relative;
}

.property_record_buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.base_button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 0.9vw;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid #000;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.save_prop_button:active {
    background-color: #00e608;
}

.edit_prop_button:active {
    box-shadow: #009ace 0px 0px 3px 0px;
}

.delete_prop_button:active {
    box-shadow: #d80000 0px 0px 3px 0px;
}

.save_prop_button:hover {
    background-color: #7be17f;
}

.edit_prop_button:hover {
    background-color: #00bfffb4 !important;
}

.delete_prop_button:hover {
    background-color: #ff0000b4 !important;
}

.save_prop_button {
    background-color: #00e608;
    border-color: #00a908;
    color: #fff;
}

.edit_prop_button {
    background-color: #00bfff;
    border-color: #009ace;
    color: #fff;
}

.delete_prop_button {
    background-color: #ff0000;
    border-color: #d80000;
    color: #fff;
}