.box {
    position: relative;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Robotic', sans-serif;
}

.title {
    display: inline-block;
    vertical-align: middle;
}

.title {
    min-width: 100px;
}

.error {
    border-color: rgb(255, 89, 89) !important;
}

.input[type="text"], .input[type="password"] {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 30px;
    padding: 0 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color: rgb(100, 100, 100);
}

.input[type="button"] {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}