.main {
    width: 100%;
    background-color: #e4e4e4;
    color: rgb(57, 75, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    font-family: 'Verdana', sans-serif;
}

.cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.attribute, .sort_sign {
    user-select: none;
    cursor: pointer;
    width: fit-content;
    font-size: 1.5vw;
    font-weight: 500;
}