.b {
    width: 10vw;
    height: 8vh;
    border: none;
    border-radius: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 4vh;
    padding-bottom: 1vh;
    cursor: pointer;
}