.box {
    border: 3px solid rgb(0, 0, 178);
    width: 100%;
    background-color: white;
    color: rgb(57, 75, 108);
    padding-block: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    word-break: break-all;
}

.cont {
    overflow: hidden;
}

.name {
    cursor: default;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-inline: 1px;

}

.description {
    cursor: default;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-inline: 1px;
    overflow: hidden;
    display: -webkit-box;
    text-align: justify;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.buttons {
    position: relative;
    padding-inline: 1px;
}

.buttons div {
    position: absolute;
    left: 31%;
    transform: translateY(-50%);
}

.baseButton {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid #000;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.baseButton[type="exec"]:active {
    background-color: #00e608;
}

.baseButton[type="edit"]:active {
    box-shadow: #009ace 0px 0px 3px 0px;
}

.baseButton[type="delete"]:active {
    box-shadow: #d80000 0px 0px 3px 0px;
}

.baseButton[type="exec"]:hover {
    background-color: #7be17f;
}

.baseButton[type="edit"]:hover {
    background-color: #00bfffb4 !important;
}

.baseButton[type="delete"]:hover {
    background-color: #ff0000b4 !important;
}

.baseButton[type="exec"] {
    background-color: #00e608;
    border-color: #00a908;
    color: #fff;
}

.baseButton[type="edit"] {
    background-color: #00bfff;
    border-color: #009ace;
    color: #fff;
}

.baseButton[type="delete"] {
    background-color: #ff0000;
    border-color: #d80000;
    color: #fff;
}